@import url("https://fonts.googleapis.com/css2?family=Updock&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 13px;
}

body {
  font-family: "Roboto", sans-serif;
}
