.result {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;

  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-between;

    &__title {
      font-size: 20px;
      color: #0071c2;
    }

    &__distance {
      font-size: 12px;
    }

    &__taxi-op {
      font-size: 12px;
      background-color: #008009;
      color: white;
      width: max-content;
      padding: 3px;
      border-radius: 3px;
    }

    &__subtitle {
      font-size: 12px;
      font-weight: bold;
    }

    &__features {
      font-size: 12px;
    }

    &__cancel-op,
    &__cancel-op-subtitle {
      font-size: 12px;
      color: #008009;
    }

    &__cancel-op {
      font-weight: bold;
    }
  }

  &__detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__rating {
      display: flex;
      justify-content: space-between;

      & > span {
        font-weight: 500;
      }

      & > button {
        background-color: #003580;
        color: #fff;
        padding: 5px;
        font-weight: bold;
        border: none;
      }
    }

    &__texts {
      text-align: right;
      display: flex;
      flex-direction: column;
      gap: 5px;

      &__price {
        font-size: 24px;
      }

      &__tax-op {
        font-size: 12px;
        color: gray;
      }

      &__check-button {
          padding: 10px 5px;
          background-color: #0071c2;
          color: #fff;
          font-weight: bold;
          border: none;
          cursor: pointer;
          border-radius: 5px;
      }
    }
  }
}
