.mail {
   width: 100%;
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   background-color: #003580;
   color: white;
   align-items: center;
   gap: 20px;
   padding: 50px;

   &__input {
      input {
         width: 300px;
         height: 50px;
         padding: 10px;
         border: none;
         border-radius: 5px;
         margin-right: 10px;
      }
      button {
         padding: 0 10px;
         height: 50px;
         background-color: #0071c2;
         color: white;
         font-weight: 500;
         border: none;
         border-radius: 5px;
         cursor: pointer;
      }
   }
}
